/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

//link style

a{
  color: black;
  text-decoration: none;
}
body{
  margin: 0px;
  background: rgba(175, 175, 175, 0.46);
}

.layout-container{
  margin-left: 8%;
  margin-right: 8%;
  width: 1100px;
  height: 800px;
}

.layout-container-mid{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 1078px;
  height: 800px;
  background-image: url(tile2.jpg);
  background-size: 100px 100px;
  background-repeat: repeat;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.38);
}
.layout-header{
  width: 1100px;
  height: 200px;
  background-image: url('oblation.jpg');
  background-size: 1100px 200px;
  //background: black;
}

.layout-nav{
  width: 20%;
  height: 700px;
  float:left;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.38);
  //background: rgb(235, 255, 0);
}

.layout-body{
  width: 78%;
  height: 800px;
  margin-left: 21%;
  background: rgb(243, 243, 243);
  //background-image: url('tile2.jpg');
  //background-repeat: repeat;

}
.layout-footer{
  width: 1100px;
  height: 150px;
  background: black;
}
