// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//list styles

ul{
  margin-top: 0px;
  padding-right: 10px;
  padding: 0px;
  list-style-type: none;
}

.label_icon{
  float: left;
  width: 30px;
  height: 20px;
  background-image: url(Redo.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-left: 10px;
}

li.label.top{
  border-top: none;
}
li.label{
  height: 20px;
  padding-left: 5%;
  background: none;
  font-size: 14px;
  box-shadow: none;
}
li{
  padding: 5px;
  padding-left: 10%;
  font-family: Sintony;
  font-size: 11px;
  border-bottom: 1px solid rgba(175, 175, 175, 0.82);
  background: rgba(255, 255, 255, 0.61);
}

li:hover{
  background: rgba(255, 255, 3, 0.88);
}

li.label:hover{
  //background: rgba(255, 255, 255, 0.61);
  background: none;
}
