%ul
  %li.label
    %center
      Label
  %li
    =link_to "Students Rights and Welfare", '#'
  %li
    =link_to "Secretariat and Logistics", '#'
  %li
    =link_to "Finance and Special Projects", '#'
  %li
    =link_to "Education, Training and Popular Struggles", '#'
  %li
    =link_to "Publications", '#'
  %li
    =link_to "Student Pavilions and Other Infrastructures Team", '#'
  %li
    =link_to "Committee on Fraternity Related Incidents", '#'
  %li.label
    %center
      Label
  %li
    =link_to "Anthropology"
  %li
    =link_to "Geography"
  %li
    =link_to "Kasaysayan"
  %li
    =link_to "Linguistics"
  %li
    =link_to "Philosophy"
  %li
    =link_to "Political Science"
  %li
    =link_to "Psychology"
  %li
    =link_to "Sociology"
  %li.label
    %center
      Label
  %li
    =link_to "CSSPSC Volunteer Corps"
  %li
    =link_to "CSSP Academic Circle"
  %li
    =link_to "CSSP Freshie Circle"

